.column-container.main-form
  %h1 Are You Still Mormon???
  %br/
  .container
    %button.button.yes-button
      yes
    
    %button.button.no-button
      no

.second-container.hide
  = form_for @account do |f|
    .container
      %p
        = f.label :first_name
        = f.text_field :first_name
      %p
        = f.label :middle_initial
        = f.text_field :middle_initial
      %p
        = f.label :last_name
        = f.text_field :last_name
      %p
        = f.label :dob
        = f.date_field :dob
      %p
        = f.label :current_location
        = f.text_field :current_location
      %p
        = f.label :hometown
        = f.text_field :hometown
